.card {
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.card:hover {
    transform: scale(1.05);
}